/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Sidebery
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
:where(#main-window) #browser{
  --uc-sidebar-width: 33px;
  --uc-sidebar-hover-width: 210px;
}

#sidebar-box{
  --uc-autohide-sidebar-delay: 300ms; /* Wait 0.6s before hiding sidebar */
  --uc-autohide-transition-duration: 115ms;
  --uc-autohide-transition-type: linear;
  --browser-area-z-index-sidebar: 3;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: var(--browser-area-z-index-sidebar,3);
  background-color: inherit;
  /* This directionality flipper is played so that sidebar "grows" into the right direction */
  direction: ltr;
  &:is([positionend],[sidebar-positionend]):not(:-moz-locale-dir(rtl)){
    direction: rtl;
  }
}

#sidebar-header,
#sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
  direction: ltr;
  &:-moz-locale-dir(rtl){
    direction: rtl;
  }
}
#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar,
#sidebar-box:hover > .sidebar-browser-stack > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

@media -moz-pref("sidebar.revamp") {
  #sidebar, #sidebar-header{ border-style: none }
  #sidebar-box{ padding: 0 !important; }
}
/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */

#sidebar-box:not([positionend],[sidebar-positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend],[sidebar-positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}

/* Hide menu Sidebery */
#sidebar-header {
  display: none !important;
}

@media -moz-pref("firefoxgx.tree-tabs") {
    #sidebar-box:is(
    [sidebarcommand*="tabcenter"],
    [sidebarcommand*="treestyletab"],
    [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {

        /* Sidebar content 'open' + web content /**/
        &[checked="true"] ~ #tabbrowser-tabbox {
            box-shadow: none !important;
        }
    }
}


/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Effect
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
.urlbar-icon,
.toolbarbutton-icon,
.downloadIconShow > .button-box > .button-icon,
.menuitem-iconic :is(.menu-iconic-icon,.menu-icon),
#downloads-indicator-icon,
.urlbar-input-container [role="button"] image{
  transition: transform 83ms linear !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon{
  transition: padding 83ms linear !important;
}
.urlbar-input-container [role="button"]:active image,
.downloadIconShow:active > .button-box > .button-icon,
#downloads-button:active #downloads-indicator-icon,
toolbarbutton#scrollbutton-up:active > .toolbarbutton-icon,
toolbarbutton:not(.toolbarbutton-1):active > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([disabled]):active > .toolbarbutton-badge-stack > .toolbarbutton-icon,
.menuitem-iconic:active :is(.menu-iconic-icon,.menu-icon),
.urlbar-page-action:active > .urlbar-icon{
  transform: scale(0.6) !important;
}
.tab-close-button:hover{
  transition: padding-block 83ms linear;
}
.tab-close-button:active{
  padding: calc(var(--tab-close-button-padding) + 2px) !important;
}
toolbarbutton#scrollbutton-down:active > .toolbarbutton-icon{ transform: scale(-0.6) !important; }

toolbar .toolbarbutton-1:not([disabled]):active > .toolbarbutton-icon{
  padding: calc(var(--toolbarbutton-inner-padding) + 3px) !important;
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Glow effects on hover
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
:root{
  --uc-icon-glow-primary: rgba(3, 172, 172, 0.685);
  --uc-icon-glow-secondary: cadetblue;
  --uc-icon-glow-hover-primary: rgba(255, 0, 0, 0.521);
  --uc-icon-glow-hover-secondary: yellow;
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Make backgrounds transparent
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
.close-icon,
.urlbar-icon,
.urlbar-icon-wrapper,
toolbar .toolbarbutton-1,
#tabbrowser-tabs toolbarbutton,
toolbar toolbarbutton > .toolbarbutton-icon,
toolbar toolbarbutton > .toolbarbutton-badge-stack,
.titlebar-button,
#identity-box,
.identity-box-button,
#tracking-protection-icon-container,
.findbar-textbox~toolbarbutton,
toolbarbutton.scrollbutton-up,
toolbarbutton.scrollbutton-down,
toolbarbutton#scrollbutton-up,
toolbarbutton#scrollbutton-down{
  background-color: transparent !important;
  border-color: transparent !important;
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Glow effects on hover 
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
toolbar #downloads-button:hover #downloads-indicator-anchor,
.findbar-textbox~toolbarbutton:not([disabled]):hover,
toolbarbutton.scrollbutton-up:not([disabled]):hover,
toolbarbutton.scrollbutton-down:not([disabled]):hover,
toolbarbutton#scrollbutton-up:not([disabled]):hover,
toolbarbutton#scrollbutton-down:not([disabled]):hover{ 
filter: drop-shadow(0 0 1px var(--uc-icon-glow-primary)) drop-shadow(0 0 1px var(--uc-icon-glow-primary))
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Effects loading page 
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
@keyframes statusline-anim{from{background-position-x: left}to{background-position-x: right}}
#statuspanel[type="status"]::after{
  position: fixed;
  display: block;
  height: 2px;
  width: 100vw;
  top: 0;
  left:0;
  content: "";
  pointer-events: none;
  background-size: 20%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to left,transparent,#8599d4,transparent);
  animation: statusline-anim 500ms alternate infinite ease-in-out;
}
@media (min-width: 1000px){ #statuspanel[type="status"]::after{ animation-duration: 460ms } }
@media (min-width: 1400px){ #statuspanel[type="status"]::after{ animation-duration: 520ms } }
@media (min-width: 1700px){ #statuspanel[type="status"]::after{ background-size: 15%; animation-duration: 550ms } }
@media (min-width: 2200px){ #statuspanel[type="status"]::after{ animation-duration: 600ms } }
.browserContainer{ transform: translate(0) }
menuseparator::before {
 margin-inline: -12px !important;
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Gradient line - separators
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
toolbarseparator {
  margin-inline: -1px !important;
}
#PlacesToolbar menupopup[placespopup] menuseparator {
  margin-inline: -1px !important;
}
.urlbar-page-action{
  margin-inline-end: calc(-16px - 2 * var(--urlbar-icon-padding) );
  opacity: 0;
  transition: margin-inline-end 100ms linear, opacity 200ms linear;
}
#urlbar:hover .urlbar-page-action,
.urlbar-page-action[open],
.urlbar-page-action[open] ~ .urlbar-page-action{
  opacity: 1;
  margin-inline-end: 0px !important;
}

/*
░░░░░░░░░░░░░░░░░░░░░░░░░░░
❕Border Radius in URL 
░░░░░░░░░░░░░░░░░░░░░░░░░░░
*/
:root {
  --megabar_border_roundness: 20px;
}

#urlbar #urlbar-background,
#urlbar, :is(#urlbar-input-container,.urlbar-input-container),
#searchbar, .searchbar-textbox {
  border-radius: var(--megabar_border_roundness) !important;
}

#urlbar[focused]:not([usertyping]) .urlbarView,
#urlbar .search-one-offs,
#urlbar .search-one-offs .search-panel-header,
#urlbar .search-one-offs .search-panel-one-offs-container {
  border-bottom-left-radius: var(--megabar_border_roundness) !important;
  border-bottom-right-radius: var(--megabar_border_roundness) !important;
}

#urlbar .search-one-offs .search-setting-button-compact {
  border-bottom-right-radius: var(--megabar_border_roundness) !important;
}

#urlbar[focused="true"][open] :is(#urlbar-input-container,.urlbar-input-container) {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}


#urlbar[open] #urlbar-background,
#urlbar[open],
#urlbar[open] :is(#urlbar-input-container,.urlbar-input-container) {
  border-radius: calc(var(--megabar_border_roundness) / 1.5) !important;
}

#urlbar[focused]:not([usertyping]) .urlbarView,
#urlbar .search-one-offs,
#urlbar .search-one-offs .search-panel-header,
#urlbar .search-one-offs .search-panel-one-offs-container {
  border-bottom-left-radius: calc(var(--megabar_border_roundness) / 1.5) !important;
  border-bottom-right-radius: calc(var(--megabar_border_roundness) / 1.5) !important;
}

#urlbar .search-one-offs .search-setting-button-compact {
  border-bottom-right-radius: calc(var(--megabar_border_roundness) / 1.5) !important;
}

/* altera a fonte e o tamanho da barra de endereço */
#identity-box, #urlbar-input, .urlbar-input-box, #urlbar-input-container {
  font-size: 11pt !important;
  font-family: Fira Sans, sans-serif !important;
}

.urlbar-input::selection {
  background-color: rgba(182, 179, 179, 0.959) !important;

}

#navigator-toolbox {
 z-index: unset !important;
}

/* Brilho quando a urlbar [aberta] */
#nav-bar::after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 4;
  pointer-events: none;
  transition: background-color 0.3s ease; 
}

:root:has(#urlbar[open]) #nav-bar::after {
  background-color: rgba(0, 0, 0, 0.5);
}

/* tracking protection icon */
:is(#urlbar-input-container,.urlbar-input-container)[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box > #tracking-protection-icon {
  -moz-context-properties: fill !important;
  fill: #40aa40b7 !important; /* rgb(64,170,64) */
}

:is(#urlbar-input-container,.urlbar-input-container)[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box[hasException] > #tracking-protection-icon {
  -moz-context-properties: fill !important;
  fill: orangered !important;
}

:is(#urlbar-input-container,.urlbar-input-container)[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box:not([hasException])[active] > #tracking-protection-icon {
  -moz-context-properties: fill !important;
  fill: #40aa4075 !important; /* rgb(64,170,64) */
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/urlbar_connection_type_text_colors.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Modifies the urlbar text color based on connection type - "normal" https: won't be mdofied */

/* Mixed content including neterror */
#identity-box[pageproxystate="valid"].unknownIdentity ~ .urlbar-input-box{ color: orange ;
  background-color: rgba(80, 67, 3, 0.397);
  border-radius: 13px !important;
  font-style: oblique;
}

/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].notSecure ~ .urlbar-input-box{ color: orangered ;
background-color: rgba(255, 68, 0, 0.226);
border-radius: 13px !important;
}

/* http: and potentially some other insecure connections like ftp: */
#identity-box[pageproxystate="valid"].secure ~ .urlbar-input-box{ color: rgba(12, 170, 25, 0.603) ;}

/* Extension pages */
#identity-box[pageproxystate="valid"].extensionPage ~ .urlbar-input-box{ color: rgb(5, 187, 233);
background-color: rgba(42, 86, 97, 0.445);
border-radius: 13px !important;
}

/* Internal about: and chrome:// urls (includes reader-view) */
#identity-box[pageproxystate="valid"].localResource ~ .urlbar-input-box,
#identity-box[pageproxystate="valid"].chromeUI ~ .urlbar-input-box{ color: rgb(214, 160, 240) ;
 background-color: rgba(169, 49, 224, 0.322) ;
border-radius: 13px !important;
}

/* https */
#identity-box.verifiedDomain~ .urlbar-input-box{ background-color: rgba(50, 255, 50, 0.13);
border-radius: 13px !important;

}
#statuspanel-label {
	background: #131019 !important;
	color: rgb(175, 173, 175) !important;
  border-radius: 0 4px 0 0;
	border-top: solid 1px #131019 !important;
  border-right: solid 1px #131019 !important;
}

.titlebar-button:hover {
  background-color: hsla(180, 1%, 33%, 0.507) !important;
   -khtml-border-radius: 15px 0 10px 0 !important;
  -moz-border-radius: 15px 0 10px 0 !important;
   border-radius: 15px 0 10px 0  !important;
   cursor: pointer;
   transition: background-color 0.3s;
  }

  #tracking-protection-icon-container {
    order: 0 !important;
}

/* Border Radius in Page Sidebery */
#tabbrowser-tabpanels {
    browser[type="content"] {
    border-top-left-radius: 10px  !important;
    
    }
}

.browserContainer {
  background-color: #131019; !important;
} 
