/* Source file made available under Mozilla Public License v. 2.0 
   https://github.com/Godiesc/firefox-gx */

/* --- 'Tree-tabs' sidebar & autohide --- */
@media -moz-pref("firefoxgx.tree-tabs") and ((not -moz-pref("firefoxgx.left-sidebar")) or (not -moz-pref("sidebar.verticalTabs"))) {

    #sidebar-box:is([sidebarcommand*="tabcenter"], [sidebarcommand*="treestyletab"], [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"]) {
        --my-vertical-elements-width: calc(var(--my-vertical-toolbar-width) - 1px) !important;
        --uc-autohide-sidebar-delay: 50ms;
        --uc-autohide-transition-duration: 200ms;
        --uc-autohide-transition-type: linear;
        --browser-area-z-index-sidebar: 4;

        position: relative;
        z-index: var(--browser-area-z-index-sidebar, 3) !important;
        width: var(--my-vertical-toolbar-width) !important;
        min-width: var(--my-vertical-toolbar-width) !important;
        max-width: var(--my-vertical-toolbar-width) !important;
        background-color: var(--lwt-accent-color) !important;
        box-shadow: none !important;
        overflow-x: visible !important;
        direction: ltr;

        &[checked] {
            &:not([sidebar-positionend]) {
                margin-inline-end: 0px !important;
            }

            &:is([sidebar-positionend]) {
                margin-inline-start: 0px !important;
            }
        }

        &:is([positionend], [sidebar-positionend]):not(:-moz-locale-dir(rtl)) {
            direction: rtl;
        }

        #sidebar-header {
            display: none !important;
        }
    }

    /* Oculta o divisor da sidebar */
    :root:has(#sidebar-box:is([sidebarcommand*="tabcenter"], [sidebarcommand*="treestyletab"], [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) #sidebar-splitter {
        display: none !important;
    }

    #main-window[sizemode="fullscreen"] #sidebar-box {
        --my-vertical-toolbar-width: 1px;
    }

    /* Estilização do painel interno da sidebar */
    .sidebar-panel {
        background-color: transparent !important;
        color: var(--newtab-text-primary-color) !important;

        #search-box {
            appearance: none !important;
            background-color: rgba(32, 32, 34, 0.1) !important;
            color: inherit !important;
        }
    }

    /* Borda divisora */
    #sidebar-box:not([sidebar-positionend])> :-moz-locale-dir(rtl),
    #sidebar-box[sidebar-positionend]>* {
        border-inline-width: 1px 0px;
    }

    /* Reposiciona o statuspanel ao passar o mouse na sidebar */
    #sidebar-box:not([sidebar-positionend]):hover~#tabbrowser-tabbox {
        #statuspanel {
            inset-inline: auto 0px !important;
        }

        #statuspanel-label {
            margin-inline: 0px !important;
            border-left-style: solid !important;
        }
    }
}

/* --- Botão do Menu com Logo Customizada --- */
@media (not -moz-pref("firefoxgx.left-sidebar")) and (not -moz-pref("sidebar.revamp")) {

    :root:not([customizing], [sizemode="fullscreen"]):has(#sidebar-box[checked]:not([sidebar-positionend]):is([sidebarcommand*="tabcenter"], [sidebarcommand*="treestyletab"], [sidebarcommand*="_3c078156-979c-498b-8990-85f7987dd929"])) {
        --my-elements-left-margin: calc(var(--my-vertical-toolbar-width) - 1px) !important;
        --space-before-gradient-line: var(--menubar-height-personal, 0px) !important;
        --lwt-accent-color: light-dark(#eeeeee, #0a0a10) !important;

        #appMenu-button .toolbarbutton-icon {
            display: none !important;
        }

        #PanelUI-button {
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            z-index: 5 !important;
            width: var(--my-elements-left-margin, 40px) !important;
            height: calc(1px + var(--menubar-height-personal, 0px) + var(--toolbar-height-personal)) !important;

            &::before {
                content: "" !important;
                position: absolute !important;
                inset: 0 !important;
                background-color: var(--lwt-accent-color) !important;
                background-image: url("../icons/firefox-menu.svg") !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: 20px 20px !important;
                border-inline-end: 1px solid var(--general-color) !important;
                border-image: linear-gradient(to bottom, transparent var(--space-before-gradient-line), var(--general-color) var(--space-before-gradient-line)) 1 !important;
                pointer-events: none !important;
            }
        }
    }
}